.blog_header {
    width: 100%;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-size: 100vw 100%;
    min-height: 200px;
}

.blog_header_title {
    text-align: center;
    font-family: "georgia", serif;
    font-weight: bold;
    font-size: 70px;
    color: white;
    padding: 0 70px 3%;
}

.blog_header_description {
    text-align: center;
    font-family: "georgia", serif;
    font-style: italic;
    font-size: 20px;
    color: cornsilk;
    padding: 0 50px 5%;
}
