.blog_header {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.blog_header_title {
    text-align: center;
    font-family: "georgia", serif;
    font-weight: bold;
    font-size: 70px;
    color: white;
    padding: 200px 50px 100px 50px;
}

.blog_header_description {
    text-align: center;
    font-family: "georgia", serif;
    font-style: italic;
    font-size: 25px;
    color: cornsilk;
    padding: 0px 50px 150px;
}
