.home_header {
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100vw 100%;
    min-height: 300px;
}

.home_header_title {
    text-align: right;
    font-family: "georgia", serif;
    font-weight: bold;
    font-size: 70px;
    color: white;
    padding: 150px 15% 20px;
}

.home_header_description {
    text-align: right;
    font-family: "georgia", serif;
    font-style: italic;
    font-size: 20px;
    color: cornsilk;
    padding: 0 15% 50px;
}

.home_profile_avatar {
    width: 100%;
    /* min-height: 400px; */
    /* max-height: 20px; */
    
}